.aboutMeSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
}

.aboutMeSection > * {
  margin-top: 30px;
}

.aboutMeSection > h1 {
  font-size: 4rem;
}

.aboutMeSection > p {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 500px;
  margin: 10px;
  text-align: center;
}

p {
  margin: 40px;
}
